// Storing Core Variables for styling 

// Main 
$prime-clr: #ffecb7;
$second-clr: #cdffbf;
$accent-clr: #e1c1ff;

// Headers 
$pink-clr: #ff85c6;
$purp-clr: #b578ee;

// mid Contrast 
$mid-light-clr: #eff8ff;
$mid-dark-clr: #2a2a2a;

// Full Contrast 
$light-clr: #fff;
$dark-clr: #000;

