// Storing Core Variables for styling 

// Main 
$prime-clr: rgb(255, 236, 183);
$second-clr: rgb(205, 255, 191);
$accent-clr: rgb(225, 193, 255);

// Dark Main 
$prime-dark-clr: rgb(228, 172, 17);
$second-dark-clr: rgb(45, 129, 44);
$accent-dark-clr: rgb(104, 51, 154);

// mid Contrast 
$mid-light-clr: rgb(241, 234, 212);
$mid-dark-clr: rgb(42, 42, 42);

// Full Contast 
$light-clr: #fff;
$dark-clr: #000;

// Extra 
