// Storing Core Variables for styling 

// Main 
$prime-clr: rgb(255, 240, 197);
$second-clr: rgb(209, 255, 196);
$accent-clr: rgb(222, 187, 255);

// Contrast 
$light-clr: rgb(238, 238, 238);
$dark-clr: rgb(33, 33, 33);

// Extra 
