// Storing Core Variables for styling 

// Main 
$prime-clr: rgb(255, 236, 183);
$second-clr: rgb(205, 255, 191);
$accent-clr: rgb(225, 193, 255);

// Dark Main 
$prime-dark-clr: rgb(153, 122, 37);
$second-dark-clr: rgb(57, 146, 55);
$accent-dark-clr: rgb(90, 44, 133);

// mid Contrast 
$mid-light-clr: rgb(241, 234, 212);
$mid-dark-clr: rgb(42, 42, 42);

// Full Contast 
$light-clr: #fff;
$dark-clr: #000;

// Extra 
