/* About Component Styles  */

.about-section {
  margin: 1rem 0;
  padding: .5rem;

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 1200px;

    .about-img {
      display: flex;
      height: 300px;
      width: 300px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
    }
  }
}

// Media Queries 

@media (max-width: 768px) {
  .image-wrapper {
    flex-direction: column;
  }
}
