/* Featured Component Styles  */

// SCSS Variables
@import "../variables/coreVars.scss";

.featured-section {
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }

  .featured-page-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 420px;
    margin: 1rem 0;

    div {
      margin: 0 0.8rem;
      width: 40%;
      height: 100%;
      max-height: 360px;
      text-align: center;
      margin-bottom: 1rem;

      .featured-img {
        width: 320px;
        height: 320px;
        border-radius: 0.8rem;
        transition: transform 325ms ease-out;

        // Image hover effect
        &:hover {
          filter: contrast(105%);
          cursor: pointer;
          transform: translate(-3px, -4px);
          border: 1px solid $pink-clr;
        }
      }

      p {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        justify-content: center;
      }
    }
  }
}

// Media Queries

// Smaller Desktops and Ipads

@media (max-width: 1050px) {
  .featured-section {
    .featured-page-1 {
      min-height: auto;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        .featured-img {
          width: 275px;
          height: 275px;
        }

        p {
          font-size: 1.1rem;
          padding: 0.2rem;
        }
      }
    }
  }
}

// Mobile Screens

@media (max-width: 825px) {
  .featured-section {
    .featured-page-1 {
      align-items: center;
      flex-wrap: wrap;

      div {
        .featured-img {
          margin-bottom: 1rem;
          border-radius: 8px;
          width: 250px;
          height: 250px;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}

// Smaller Screen Sizes 

@media (max-width: 768px) {
  .featured-section {
    .featured-page-1 {
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;

      div {
        .featured-img {
          margin-bottom: 1rem;
          border-radius: 8px;
          width: 250px;
          height: 250px;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
