/* Featured Component Styles  */

.featured-section {
  padding: 100px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  justify-self: center;

  h2 {
    // font-size: 3.9rem;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    z-index: 1;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }

  .featured-page-1 {
    justify-content: center;
    align-items: center;
    display: flex;

    .featured-img {
      display: inline-flex;
      height: 400px;
      width: 400px;
      padding: 10px;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      border-radius: 25px;
      transition: transform 0.25s ease;

      &:hover {
        -webkit-transform: scale(1.5); /* or some other value */
        transform: scale(1.5);
        box-shadow: 0 0 0;
      }
    }
  }
}

p {
  font-size: 15px;
  text-align: center;
  justify-content: center;
}

/* Ipad Air */
@media (max-width: 850px) {
  .featured-img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .featured-img {
    width: 250px;
    height: 250px;
  }
}
