/* Footer Component Styles  */

.footer-section  {
	background-color: rgb(195, 195, 195);
	min-height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 1rem;
		margin: auto;
		height: 100%;
		width: 100%;


		.footer-logo {
			width: 40px;
			height: 40px;
		}

		.footer-sec {
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			gap: .8rem;
			padding: .6rem;
			font-size: 1.2rem;

			.footer-ul {
				li {
					a {
						color: black;
						font-size: 1rem;
					}
				}
			}
		}
	}
}
