/* Footer Component Styles  */

// SCSS Variables
@import "../variables/coreVars.scss";

.footer-section {
  background-color: $mid-light-clr;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    margin: auto;
    height: 100%;
    width: 100%;

    .footer-logo {
      width: 20%;
      height: 20%;
    }

    .footer-sec {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      padding: 0.6rem;
      font-size: 1.3rem;

      h4 {
        color: $purp-clr;
      }

      .footer-ul {
        li {
          a {
            color: $mid-dark-clr;
            font-size: 1.1rem;

            &:hover {
              cursor: pointer;
              color: $pink-clr;
            }
          }
        }
      }
    }
  }
}

// Media Queries 

// Phone 

@media (max-width: 765px) {
  .footer-section {
    .container {
      flex-direction: column;
      align-items: center;
      gap: .8rem;
      padding: 2rem 0;

      .footer-logo {
        width: 55vw;
      }

      .footer-sec {
        align-items: center;
        justify-content: center;
        padding: 0;

        .footer-ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          a {
            font-size: 1rem !important;
            word-wrap: break-word; 
          }
        }
      }
    }
  }
}
