/* Hero Component Styles  */

.hero-section {
  display: flex;
  width: 100%;
  background: transparent;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .hero-img { 
    margin: 0 auto;
    width: 87vw;
  }
}

// Media Queries 

// Mobile Screens 

@media (max-width: 765px) {
  .hero-img {
    width: 155vw !important;
  }
}
