/* Navbar Component Styles  */
@import "../variables/coreVars.scss";

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #EFF8FF;

  li {
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
    z-index: 1;
  }
}

#logo {
  height: 75px;
  margin: -5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  /* Underline hover effects */
  background: linear-gradient(to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)),
    linear-gradient(to right, #ff85c6, #ff85c6);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms ease;

  &:hover,
  &:focus {
    background-size: 0 0.1em, 100% 0.1em;
    color: #ff85c6;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    padding: 0 24px 0 4px;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #EFF8FF;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
    padding-bottom: 5000vh;
    height: 100%;
    overflow-y: hidden;
    padding-top: 2rem;
    margin-top: -2rem;
  }
}