/* Core CSS File  */

/* Open Sans Google Font  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

// Manuale Font

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

// Import Colors

@import "./variables/coreVars.scss";

// Import Components

@import "./components/aboutComp.scss";
@import "./components/featComp.scss";
@import "./components/footerComp.scss";
@import "./components/heroComp.scss";
@import "./components/navbarComp.scss";
@import "./components/tipsComp.scss";

/* Universal Resetter  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Global Selectors  */

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  background-color: $mid-light-clr;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

p,
li,
a {
  font-size: 18px;
}

// headers

h1 {
  font-weight: bold;
  font-size: 3.5rem;
  color: $pink-clr;
  width: fit-content;
  margin: 2rem auto;
  font-family: "Rubik", sans-serif;
}

h2 {
  font-size: 3rem;
  color: $purp-clr;
  font-family: "Rubik", sans-serif;
  margin-bottom: 0.8rem;
}

// Global Class Selectors

.page {
  padding: 2.5rem 2rem;
  min-height: 100vh;
  width: 100%;
  background-image: url("../imgs/svgs/about.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

// Media Queries 

@media (max-width: 768px) {
  main {
    margin-top: 80px;
  }

  h2 {
    font-size: 2.2rem;
  }

  .page {
    padding: 2rem 1rem;
  }
}
