// Core Home Page Styles 

@import "../../sass/main.scss";
@import "../../sass/variables/coreVars.scss";

#homePage {
    display: flex;
    flex-direction: column; 

    h2 {
        margin: 2rem auto;
        text-align: center;
        width: fit-content;
        border-bottom: 1px solid $purp-clr;
    }
}